*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: monospace;
    text-decoration: underline;
}


.show_uncompleted_tasks{
    background-color: white;
    display: block;
    margin: 10px auto;
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.show_completed_tasks{
    background-color: white;
    display: block;
    margin: 10px auto;
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.show_all_tasks{
    background-color: white;
    display: block;
    margin: 10px auto;
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 10px;
}


.all_tasks,.completed_tasks, .uncompleted_tasks{
    height: auto;
    padding: 20px;
    margin-left: 15px;
    border-radius: 20px;
    
}

.all_tasks{
    background-color: darkorchid;
    color: white;
}

.completed_tasks{
    background-color: blueviolet;
    color: white;
}

.uncompleted_tasks{
    background-color: brown;
    color: white;
    margin-right: 15px;
}
ul{
    list-style-type: none;
}


li{
    padding: 10px;
}

h2{
    text-decoration: underline;
    text-align: center;

}

@media screen and (max-width: 900px) {
    .container {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 80%;
    }

    .all_tasks,.completed_tasks, .uncompleted_tasks{
        margin-top: 10px;
        margin-right: 10px;
    }
  }
